[submodule "External/Box2D"]
	path = External/Box2D
	url = https://github.com/BattleFireLTD/Box2D.git
[submodule "External/PBC"]
	path = External/PBC
	url = https://github.com/BattleFireLTD/PBC.git
[submodule "External/Lua5.1.4"]
	path = External/Lua5.1.4
	url = https://github.com/BattleFireLTD/Lua5.1.4.git
[submodule "External/PhysX3.4"]
	path = External/PhysX3.4
	url = https://github.com/NVIDIAGameWorks/PhysX-3.4.git

